# Environment
.env
*.pyc
__pycache__/
*.egg-info/
.eggs/

# Data (user uploads and DB)
data/uploads/
data/qdrant_storage/
data/quadrant_storage/
data/app.db
data/
*.db

# Python venv
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/

# Windows
Thumbs.db
desktop.ini